## robots.txt
location = /robots.txt {
	allow all;
	try_files $uri $uri/ /index.php?$args @robots;
	access_log off;
	log_not_found off;
}
location @robots {
	return 200 "User-agent: *\nDisallow: /wp-admin/\nAllow: /wp-admin/admin-ajax.php\n";
}

## sitemap
location = /sitemap.xml {
	rewrite ^/sitemap.xml$ "/?the_seo_framework_sitemap=xml" permanent;
}

location / {
        # This is cool because no php is touched for static content.
        # include the "?$args" part so non-default permalinks doesn't break when using query string
        try_files $uri $uri/ /index.php?$args;
}
