.btn {
  @apply bg-primary rounded my-3 px-4 py-3 text-white leading-none;

  transition: 0.2s ease;
}

.imprima-button h2 {
  @include font-Opensans;

  @apply text-white;

  font-size: 1rem;
}

// botão principal home
.btn-estudio,
.woocommerce .wpmc-nav-wrapper button {
  @apply bg-green-nos-button py-4 px-4 rounded-lg text-white mb-2;

  &:hover {
    @apply bg-green;
  }

  @include font-bold;
}

a.lumise-button.lumise-list-button {
  background-color: $green-nos-button !important;
}

.woocommerce ul.products li.product .button {
  margin: 1em 1em 1em 0 !important;
}
