// Mixins

%imgeffect {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.2s ease-in-out;
}

%hoverimgeffect {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

$small-mq: 480px;
$medium-mq: 768px;
$large-mq: 1024px;
// top-arrow
@mixin top-arrow-mq($canvas) {
  @if $canvas==small-mq {
    @media only screen and (min-width: $small-mq) {
      @content;
    }
  }

  @else if $canvas==medium-mq {
    @media only screen and (min-width: $medium-mq) {
      @content;
    }
  }

  @else if $canvas==large-mq {
    @media only screen and (min-width: $large-mq) {
      @content;
    }
  }
}

@mixin font-regular() {
  font-family: "clearsans_regular", sans-serif;
}

@mixin font-bold() {
  font-family: "clearsans_bold", sans-serif;
}

@mixin font-light() {
  font-family: "clearsans_thin", sans-serif;
}

body {
  background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 leading-tight text-pureblack;

  @include font-regular;
}

// p {
//   // @apply mb-3 leading-normal text-grey-darker;

//   @include font-bold;
// }

// a {
//   @apply text-primary no-underline border-b border-transparent;

//   transition: 0.2s ease;

//   &:hover {
//     @apply border-primary;
//   }
// }

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

.last-products {
  @apply border-dashed border-r;

  &:nth-of-type(4n) {
    border-right: none;
  }
}

// Disable Image Click on WooCommerce Products
.woocommerce-product-gallery__image {
  pointer-events: none;
}

// Page products
.category-products {
  ul {
    justify-content: space-evenly;
  }
}

// single products
.woocommerce {
  div.product div.images img {
    width: auto;
  }

  ul.products li.product a {
    img {
      @extend %imgeffect;
    }

    &:hover img {
      @extend %hoverimgeffect;
    }
  }
}

a.button.product_type_simple,
.button.single_add_to_cart_button.button.alt,
.woocommerce .quantity .qty {
  display: none;
}

// Cart
// .woocommerce-shipping-destination {
//   display: none !important;
// }

// top-arrow
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 9em;
  right: 1em;
  box-shadow: 0 0 10px rgba(#000, 0.05);

  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba($link, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;

  &.cd-is-visible,
  &.cd-fade-out,
  .no-touch &:hover {
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }

  &.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }

  &.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 0.5;
  }

  .no-touch &:hover {
    background-color: rgba($link, 1);
    opacity: 1;
  }

  @include top-arrow-mq(medium-mq) {
    right: 20px;
    bottom: 20px;
  }

  @include top-arrow-mq(large-mq) {
    height: 60px;
    width: 60px;
    right: 1em;
    bottom: 10em;
  }
}

.xoo-wsc-basket {
  bottom: 70px;
}

// Font face
@font-face {
  font-family: "clear_sansregular";
  src: url("../fonts/clearsans/clearsans_regular/ClearSans-Regular-webfont.eot");
  src:
    url("../fonts/clearsans/clearsans_regular/ClearSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/clearsans/clearsans_regular/ClearSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "clearsans_bold";
  src: url("../fonts/clearsans/clearsans_bold/ClearSans-Bold-webfont.eot");
  src:
    url("../fonts/clearsans/clearsans_bold/ClearSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/clearsans/clearsans_bold/ClearSans-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "clearsans_thin";
  src: url("../fonts/clearsans/clearsans_thin/ClearSans-Thin-webfont.eot");
  src:
    url("../fonts/clearsans/clearsans_thin/ClearSans-Thin-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/clearsans/clearsans_thin/ClearSans-Thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
