// Mixins
// @mixin titulos($color: black, $size: 1rem) {
//   color: $color;
//   font: $size "NICOLAUNegrito", serif;
// }

@mixin texto-fonte($size: 1rem, $line-height: 25.6px) {
  font: $size "open_sans", sans-serif;
  line-height: $line-height;
}

@mixin titulo-fonte() {
  font-family: "open_sans_bold", sans-serif;
}

@mixin texto-maven() {
  font-family: "MavenProRegular", sans-serif;
}

@mixin titulo-maven() {
  font-family: "MavenProBold", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 leading-tight text-grey-darkest;

  @include titulo-maven;

  // @include titulos;
}

p {
  @apply mb-3 leading-normal text-grey-darker;

  @include texto-maven;
}

a {
  @apply text-primary no-underline border-b border-transparent text-grey-darkest;

  @include texto-maven;

  transition: 0.2s ease;

  &:hover {
    @apply border-primary;
  }
}

ul {
  list-style: none;
}

.last-products {
  @apply border-dashed border-r;

  &:nth-of-type(4n) {
    border-right: none;
  }
}

nav,
span {
  @apply text-grey-darker;

  @include texto-maven;
}

@font-face {
  font-family: "MavenProRegular";
  src: url("../fonts/MavenPro-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MavenProBold";
  src: url("../fonts/MavenPro-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sans";
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sans_italic";
  src: url("../fonts/opensans-italic-webfont.eot");
  src: url("../fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/opensans-italic-webfont.woff");
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "open_sans_bold";
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

//Fonts
// @font-face {
//   font-family: "NICOLAUNegrito";
//   src: //url('myfont.woff2') format('woff2'),
//     //url('myfont.woff') format('woff'),
//     url("../fonts/NICOLAUNegrito.ttf") format("truetype");
// }

.banner {
  .nav-primary {
    position: relative;

    .menu-menu-container {
      position: absolute;
      bottom: 15px;
      left: 0;

      ul li {
        .fa-cart-plus {
          color: $grey-light;
          position: relative;
          left: 10px;
          bottom: 1px;
          font-size: 1.3rem;
        }

        &.cart {
          visibility: visible;
          font-size: 1.3rem;

          &::before {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            visibility: hidden;
            font-family: "Font Awesome 5 Free", serif;
            font-weight: 900;
            content: "\f217";
            -webkit-font-smoothing: antialiased;
          }
        }

        a {
          color: $grey-light;
          font-size: 1.5rem;
          font-weight: bolder;
        }
      }
    }
  }
}
