h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 leading-tight text-grey-darkest;
}

p {
  @apply mb-3 leading-normal text-grey-darker;
}

a {
  @apply text-primary no-underline border-b border-transparent text-grey-darkest;

  transition: 0.2s ease;

  &:hover {
    @apply border-primary;
  }
}

ul {
  list-style: none;
}

.last-products {
  @apply border-dashed border-r;
}

span {
  @apply text-grey-darker;
}

@mixin titulos($color: black, $size: 1rem) {
  color: $color;
  font: $size "NICOLAUNegrito", serif;
}

//Fonts
@font-face {
  font-family: "NICOLAUNegrito";
  src: //url('myfont.woff2') format('woff2'),
    //url('myfont.woff') format('woff'),
    url("../fonts/NICOLAUNegrito.ttf") format("truetype");
}

.banner {
  h1 {
    padding: 50px 0 0 0;

    span {
      @include titulos($color: white, $size: 0.8rem);

      display: block;
      line-height: 40px;

      &:first-child {
        font-size: 5rem;
      }
    }
  }
}
