// Media Queries

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .blockhome-1 {
    background-image: url(http://localhost:3000/app/themes/nos/dist/images/home/block1/bg/nosteefty.jpg);
    background-position: 50%;
    background-size: cover;
  }
}

// /* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .blockhome-1 {
    background-image: url(http://localhost:3000/app/themes/nos/dist/images/home/block1/bg/mobile.jpg);
    background-position: 50%;
    background-size: cover;
  }
}

// /* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .blockhome-1 {
    background-image: url(http://localhost:3000/app/themes/nos/dist/images/home/block1/bg/mobile.jpg);
    background-position: 50%;
    background-size: cover;
  }
}

// /* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .blockhome-1 {
    background-image: url(http://localhost:3000/app/themes/nos/dist/images/home/block1/bg/mobile.jpg);
    background-position: 50%;
    background-size: cover;
  }
}

// /* Portrait phones and smaller */
@media (max-width: 480px) {
  .banner,
  .row {
    background-color: yellow !important;
  }

  .blockhome-1 {
    background-image: url(http://localhost:3000/app/themes/nos/dist/images/home/block1/bg/mobile.jpg);
    background-position: 50%;
    background-size: cover;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .blockhome-1 {
    background-image: url(http://localhost:3000/app/themes/nos/dist/images/home/block1/bg/mobile.jpg);
    background-position: 50%;
    background-size: cover;
  }
}

// /* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
  main.main {
    .blockhome-1 {
      background-image: url(http://localhost:3000/app/themes/nos/dist/images/home/block1/bg/mobile.jpg);
      background-position: 50%;
      background-size: cover;
    }
  }
}
// end Media Queries
