$grey-light: #dae1e7;
$green-nos-light: #3fc7ba;
// $green-nos: #7ed957;
$green-nos: #3fc7ba;
$green-nos-button: #1ebe85;
$green: #38c172;
$link: #3fc7ba;
$gradient-blk1a: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
$gradient-blk1b: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: #fff;
$hamburger-active-layer-color: #fff
// $hamburger-types: (vortex);
