footer.content-info {
  .footer-up {
    @include font-light;

    nav {
      ul li a:hover {
        color: #676767;
      }

      @include media(">=tablet") {
        &:first-child ul {
          padding: 0;
        }
      }

      padding: 1em 1em 1em 0;

      @include media(">phone", "<tablet") {
        padding: 1em 1em 1em 0;
      }

      @include media(">=tablet") {
        padding: 1em 1em 0 0;
        margin-bottom: 3em;
      }
    }

    .widget_text {
      @include media(">phone", "<tablet") {
        width: 100%;
      }

      @include media(">950px") {
        width: 40%;
      }

      padding: 1em 2em 1em 2em;
    }
  }

  .footer-down {
    .container {
      .brand {
        @include media(">=phone", "<tablet") {
          width: 30%;
        }

        @include media(">=tablet") {
          width: 10%;
        }
      }
    }

    .widget_text {
      @apply text-center text-white tracking-wider py-2;

      font-size: 0.7rem;
    }
  }
}
