.banner .nav {
  @include font-Opensans;

  top: -1rem;

  // background: $gradient-blk1b;
}

.banner .nav a {
  @apply inline-block px-3 py-2 border-none;
}

.mob-menu-header-holder.mobmenu {
  position: absolute;
  left: 1em !important;
  top: 0.5em;
}

.class2 {
  bottom: 2rem;
}

header.banner {
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;

  @media (max-width: 767px) {
    .logoimprima {
      position: relative;
      left: 3em;
      top: 0.1em;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .logoimprima {
      margin: 0 0 0.2em 1em;
      position: relative;
      left: 4em;
      top: 1em;
    }
  }
}

header.banner > div {
  background-color: transparent;
}

.banner {
  position: sticky;
  top: 0;
  z-index: 99999;
}

.the_champ_horizontal_sharing .theChampSharing {
  background-color: white;
}

@include media(">=phone","<tablet") {
  .nav-primary {
    height: 2rem;
    padding: 1rem 0 2rem 0;
    width: 30%;
    // width: 100%;
    // position: absolute;
    // left: 18em;
    // top: 2em;

    .hamburger {
      // position: absolute;
      // right: 5em;
      // width: 3em;
    }

    .menu-menu-container {
      opacity: 0;
      pointer-events: none;
      transition: opacity 300ms;
      // background-color: black;
      position: absolute;
      width: 100%;
      left: 0;
      top: 5em;
      height: 20em;
      // position: relative;
      // right: 18em;
      // top: 2em;
      // background-color: lawngreen;
      ul li {
        padding: 1em 0;
        line-height: 5px;
      }
    }

    .heateor_sss_sharing_container {
      opacity: 0;
      pointer-events: none;
      transition: opacity 300ms;

      &.is-active {
        // height: 100%;
        opacity: 1;
        pointer-events: auto;
        // position: absolute;
        // top: 21em;
        // right: 5em;
      }
    }

    .heateor_sss_horizontal_sharing.is-active {
      // background-color: purple;
      position: absolute;
      top: 22em;
      left: 1em;

      li {
        padding-right: 1.5em !important;
      }
    }

    &.is-active {
      height: 100%;
      z-index: 999999;

      .menu-menu-container {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

@include media(">=tablet") {
  #navigation .hamburger {
    display: none;
  }
}

// Menu
.menu-menu-container {
  ul {
    @apply text-base;

    ul {
      display: none;
      position: absolute;
      top: 2em;
      left: 0;
      z-index: 99999;
      visibility: hidden;
      opacity: 0;
      min-width: 5rem;
      // transition: all 0.5s ease;
      // margin-top: 1rem;
      // width: 180px;
      // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }

    li > a:not(:last-child)::after {
      content: " ▾";
    }

    li:hover > ul,
    li:focus-within > ul,
    li ul:hover,
    li ul:focus {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }

  li {
    position: relative;
    // transition-duration: 0.5s;

    ul li {
      clear: both;
      width: 100%;
    }

    &:focus-within a {
      outline: none;
    }

    &:hover,
    &:focus-within {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

// css header other pages than home
.header-pages {
  nav ul.nav li .sub-menu {
    @apply bg-grey-menu p-0;

    li {
      background-color: inherit;
    }

    li:hover {
      @apply bg-grey-menuhover;
    }
  }
}

.mob-menu-header-holder {
  width: 15%;
  left: 0 !important;
}
