.banner .nav {
  @apply list-reset flex flex-wrap;

  @include font-light;
}

.banner .nav a {
  @apply inline-block px-4 py-2 border-none;

  &:hover {
    color: darken(#525ddc, 30%);
  }
}

.the_champ_horizontal_sharing .theChampSharing {
  background-color: white;
}

.nav-primary {
  .menu-menu-container {
    // width: 80%;

    @include font-bold;

    @include media(">=phone", "<tablet") {
      ul li {
        padding-bottom: 2rem;

        &:first-child {
          padding-top: 1rem;
        }
      }
    }
  }

  .heateor_sss_sharing_container {
    // width: 20%;

    ul {
      /* background-color: green; */
      display: flex;
      justify-content: flex-end;
    }
  }
}

@include media(">=phone","<tablet") {
  .heateor_sss_sharing_container {
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;

    &.is-active {
      height: 100%;
      opacity: 1;
      pointer-events: auto;
    }
  }

  #navigation {
    height: 2rem;
    padding: 1rem 0 2rem 0;

    #navigation .hamburger {
      display: inline-block;
    }

    .menu-menu-container {
      opacity: 0;
      pointer-events: none;
      transition: opacity 300ms;
      // background-color: lawngreen;
    }

    &.is-active {
      height: 100%;
      z-index: 999999;

      .menu-menu-container {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

@include media(">=tablet") {
  #navigation .hamburger {
    display: none;
  }
}
