.content p {
  @apply leading-relaxed text-p tracking-wide my-5;

  @include font-Opensans;

  .has-medium-font-size {
    @apply text-base;
  }
}

.coupon {
  @apply flex;
}

.woocommerce-tabs {
  @apply mb-8 border-t border-grey-light;
}

// .cart-collaterals {
//   @apply flex flex-col-reverse;
// }

.wc-backward {
  @apply text-center;
}

.woocommerce-cart .cart-collaterals .shipping-calculator-button {
  @apply mt-0 font-thin text-white bg-grey-darkest;

  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618em 1em;
  border-radius: 3px;
  left: auto;
  // background-color: $button-cart;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
