// single products
.woocommerce {
  div.product {
    .flex-viewport {
      margin-bottom: 1rem;
    }

    div.images img {
      width: auto;
    }

    p.price,
    span.price {
      @apply mt-1 text-base;
    }

    .woocommerce-product-details__short-description,
    .posted_in {
      @apply my-4 text-base leading-relaxed text-black tracking-wide;

      @include font-light;
    }
  }

  ul.products li.product a {
    img {
      @extend %imgeffect;
    }

    &:hover img {
      @extend %hoverimgeffect;
    }
  }
}

a#lumise-customize-button {
  @apply mt-4;
}
