/** Search form */
.search-form {
  @apply flex items-center;
}

.search-form label {
  @apply mb-4;

  font-weight: normal;
}

.search-form .search-field {
  @apply block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded;
}

.search-form .search-submit {
  @apply inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-grey-lightest bg-grey;

  &:hover {
    @apply bg-grey-light;
  }
}

// Cart
.woocommerce {
  table.shop_table {
    border: 1px solid $green-nos;

    tbody tr td {
      border-top: 1px solid $green-nos;
    }

    input#coupon_code {
      width: auto;
      text-align: center;
    }
  }

  .cart-collaterals {
    .woocommerce-shipping-calculator {
      input {
        border: 1px solid #d3ced2;
        padding: 5px;
        border-radius: 5px;
      }
    }

    .wc-proceed-to-checkout {
      .checkout-button {
        background-color: $green-nos-light;

        &:hover {
          background-color: $green;
        }
      }
    }
  }
}
