.blockhome-1 {
  background-image: url("../images/home/block1-bg.jpg");
  background-size: cover;
  background-position: right;

  // .blockhome-1-container {
  //   top: 0;
  // }

  .block1-left {
    @include font-bold;
  }

  .block1-down .container {
    padding: 1em 4em 1em 0.8em;
  }
}

.blockhome-3 {
  p {
    @include font-light;
  }
}

.blockhome-4 {
  p {
    @include font-regular;
  }

  ul {
    li {
      .img-container {
        position: relative;

        .blockhome4-img {
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: 0.5s ease;
          backface-visibility: hidden;
        }

        .text-over {
          transition: 0.5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 75%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        }

        &:hover .blockhome4-img {
          opacity: 0.3;
          // background-color: red;
        }

        &:hover .text-over {
          opacity: 1;
          // background-color: yellowgreen;
        }
      }

      h3 {
        @include font-bold;

        font-size: 1.9rem;
      }
    }
  }
}
